<div class="category">
  <div class="category--show">
    <div class="other--articles">
      <div class="flex">
        <div class="container">
          <div class="skinny_wrapper flex_horizontal search_wrapper">
            <%= form_tag(search_path, method: :get, id: "search-form", class: "mb-0 form-inline d-flex justify-content-left md-form form-sm active-theme-2 mt-2") do %>
              <%= text_field_tag :query, params[:query], class: "form-control form-control-sm mr-3", id: "search-input", placeholder: "Search in #{@filter.titleize}..." %>
              <%= hidden_field_tag :filter, @filter %>
              <%= button_tag type: "submit", class: "btn-ttm mb-2", id: "search-button" do %>
                Search
              <% end %>
            <% end %>
          </div>
          <div id="autocomplete-container"></div>
          <div class="m-1">
            <% if @query.present? %>
              <h2>Searching for... <span style="background-color: yellow"><%= @query %></span></h2>
              <br>
            <% end %>
          </div>
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="thumbnail d-flex">
                <div class="child container--image">
                  <%=link_to(post) do %>
                    <div class="w-100 position-relative">
                      <% if post.rank.present? && post.rank <= 1 %>
                          <span class="badge badge-pink" style="position: absolute; z-index: 800; top: 5px; left: 5px;">trending in <%= post.category.name %> 🔥</span>
                      <% end %>
                      <%= render 'posts/partials/header_image', post: post, img_class: "image_thumbnail" %>
                    </div>
                  <% end %>   
                </div>
                <div class="child category-show recent">
                  <h3 class="mb-3 pl-3 pr-3" style="line-height: 0.8"><%= link_to post.title, post %></h3>
                  <div class="d-flex justify-content-center">
                    <div class="d-table-cell align-middle">
                      <div class="author d-inline">
                        <% @profile = post.user.profile.attached? ? post.user.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
                        <%= image_tag(@profile, :class => "profile_img", :style => "max-width: 20px !important; min-width: 20px !important; height: 20px;") %>
                        <%= link_to("#{post.user.full_name}, ", post.user, class: 'date') %>
                      </div>
                      <span><%= date_to_words(post.publish_at) %></span>
                    </div>
                  </div>
                  <p class="date_post_preview mb-0"><%= post.category.name %></p>
                  <%= render 'posts/partials/views_and_comments', post: post %>
                  <%= render 'posts/partials/admin_stats', post: post, show_priority: true %>
                </div>
              </div>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% elsif @users.present? %>
            <% @users.each do | user | %>
              <%= render :partial => 'users/profile', locals: {user: user}, cached: true %>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% else %>
            <p style="margin-top: -10px;">Your search did not have any results.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#search-input').on('keyup', function() {
    var query = $(this).val();
    if (query.length >= 3) { // You can adjust the minimum length of characters before making a request
      $.ajax({
        url: '/autocomplete/<%= @filter %>',
        method: 'GET',
        data: { query: query },
        success: function(response) {
          var suggestions = response.suggestions;
          var autocompleteContainer = $('#autocomplete-container');
          autocompleteContainer.empty();
          if (suggestions.length > 0) {
            suggestions.forEach(function(suggestion) {
              autocompleteContainer.append('<div class="autocomplete-item">' + suggestion.title + '</div>');
            });
            autocompleteContainer.show();
          } else {
            autocompleteContainer.hide();
          }
        }
      });
    } else {
      $('#autocomplete-container').hide();
    }
  });

  // Handle click on autocomplete suggestion
  $(document).on('click', '.autocomplete-item', function() {
    var suggestion = $(this).text();
    $('#search-input').val(suggestion);
    $('#search-form').submit();
  });

  // Hide autocomplete container when clicking outside of it
  $(document).on('click', function(e) {
    if (!$(e.target).closest('#autocomplete-container').length && !$(e.target).is('#search-input')) {
      $('#autocomplete-container').hide();
    }
  });
});
</script>